[Unit]
Description=UDPGW Enabler by mr.vybes

Wants=network.target
After=syslog.target network-online.target

[Service]
User=root
Type=simple
WorkingDirectory=/root
ExecStart=/etc/autostart
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target